// {{ ansible_managed }}
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% if bind_local_includes is defined %}
{%   for content in bind_local_includes %}
  include "{{ content }}"; 
{%   endfor %}
{% endif %}

{% if bind_views is defined %}
{% for view, content in bind_views.iteritems() |sort %}
view "{{ view }}" {
{%  for param,value in content.options.iteritems() | sort %}
 {{ param }} {{ value }};
{%  endfor %}
{% for zone,content in content.zones.iteritems() | sort %}
  zone "{{ zone }}" {
{%   for param,value in content.iteritems() | sort %}
  {{ param }} {{ value }};
{%   endfor %}
};
{%  endfor %}
};
{% endfor %}
{% endif %}

{% if bind_zones is defined and bind_views is not defined %}
{%   for zone, content in bind_zones.iteritems() | sort %}
zone "{{ zone }}" {
{%     for param, value in content.iteritems() | sort %}
    {{ param }} {{ value }};
{%     endfor %}
};
{%   endfor %}
{% endif %}
